.columns{
    display: flex;
    border: solid 1px #ccc;
}

.columns > div{
    border: solid 1px #ddd;
    flex: 1;
}

.columns > div:nth-last-of-type(2){
    border: solid 1px #ddd;
    flex: 2;
}




